.cardContainerProducts {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
}

.cardContainerDogs {
  display: grid;
  grid-template-columns: repeat(3, 280px);
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
}