.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-slide {
	img {
		border-radius: 10px;
		background-size: cover;
		background-position: center;
	}
}

.mySwiper {
	box-sizing: border-box;
	padding: 10px 0;
}

.mySwiper .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.6;
}

.mySwiper .swiper-slide-thumb-active {
	opacity: 1;

	img {
		border: 3px solid var(--Secondary-Color-Mon-Yellow-60, #f1d092);
	}
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
	width: 42px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.4);
	transition: backgorund 0.25s ease-in-out;

	&::after {
		display: none;
	}

	&::before {
		color: #fff;
		content: "";
		width: 12px;
		height: 12px;
		border-bottom: 3px solid currentColor;
		border-radius: 2px;
		transition: color 0.25s ease-in-out;
	}

	&:hover {
		background: rgba(255, 255, 255, 0.6);

		&::before {
			color: #636363;
		}
	}
}

.swiper-button-next::before {
	transform: translateX(-1px) rotate(-45deg);
	border-right: 3px solid currentColor;
}
.swiper-button-prev::before {
	transform: translateX(1px) rotate(45deg);
	border-left: 3px solid currentColor;
}
