.cardInfoContainer {
  display: flex;
  gap: 26px;
  margin-bottom: 4px;
}

.name {
  color: #667479;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
}

.value {
  color: #667479;
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
}

.dot {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: -15px;
    top: 10px;
    width: 4px;
    height: 4px;
    background: rgba(102, 116, 121, 1);
    border-radius: 50%;
  }
}
