.cards__field {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(calc(25% - 20px), 1fr));
	gap: 20px;

	@media screen and (max-width: 992px) {
		grid-template-columns: repeat(auto-fit, minmax(calc(33% - 20px), 1fr));
	}

	/* Медиа-запрос для изменения на 2 столбца при ширине экрана менее 800px */
	@media screen and (max-width: 768px) {
		grid-template-columns: repeat(auto-fit, minmax(calc(50% - 20px), 1fr));
	}

	@media screen and (max-width: 476px) {
		grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
	}

	&.with__filter {
		grid-template-columns: repeat(auto-fit, minmax(calc(33% - 20px), 1fr));

		@media screen and (max-width: 992px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(50% - 20px), 1fr));
		}
	}
}
