.button {
  display: flex;
  gap: 8px;
  height: 44px;
  padding: 12px 26px 8px 26px;
  justify-content: center;
  align-items: center;
  border-radius: 57px;
  background: #003459;
  cursor: pointer;
  border: none;
  border: 2px solid #002a48;

  span {
    color: #fdfdfd;

    font-family: SVN-Gilroy, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
}
