.header {
	position: relative;
	z-index: 3;
	transform: none;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 28px 0;

	@media (max-width: 992px) {
		padding: 16px 0;
	}
}

.logo {
	margin-right: 48px;

	@media (max-width: 992px) {
		margin-right: 18px;
	}
}

.aside {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
	gap: 14px;

	@media (max-width: 992px) {
		justify-content: flex-start;
		flex-direction: row-reverse;
	}
}
